<div class="dark-section">
  <section>
    <a href="https://wa.link/thynwc" target="_blank" rel="noopener noreferrer"
      ><i class="fa-brands fa-whatsapp"></i>Confirma tu asistencia aquí
    </a>
  </section>
</div>

<style>
  section {
    text-align: center;
    font-size: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  i {
    font-size: 50px;
    color: #fec7f7;
    margin-right: 10px;
  }
</style>
